In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import zipfile as zip
import os

In [3]:
# read the dataset using the compression zip
disney = pd.read_csv('Data/Disney.zip',compression='zip', skiprows=[1], usecols=range(1,5))
 
# display dataset
print(disney.head())

# "Size" column is the sum of all order sizes for that specific second.
# "Price" column is median price.

         DATE      TIME  SIZE  PRICE
0  2008/01/02  09:30:02   100  32.34
1  2008/01/02  09:30:06   200  32.30
2  2008/01/02  09:30:17   100  32.29
3  2008/01/02  09:30:19   100  32.34
4  2008/01/02  09:30:24   300  32.34

In [8]:
#Open and close price for every day
First_last = disney.groupby(pd.to_datetime(disney['DATE']).dt.strftime('%Y/%m/%d'))['PRICE'].agg(['first', 'last']).reset_index()
First_last

            DATE   first    last
0     2008/01/02  32.340  31.850
1     2008/01/03  32.020  31.780
2     2008/01/04  31.000  31.180
3     2008/01/07  31.280  31.160
4     2008/01/08  31.355  30.480
...          ...     ...     ...
1758  2014/12/24  94.780  94.420
1759  2014/12/26  94.750  95.040
1760  2014/12/29  94.840  95.520
1761  2014/12/30  95.210  94.680
1762  2014/12/31  95.260  94.155

[1763 rows x 3 columns]